<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sdomasbate">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LastQuestionaireActivity"
            />
        <activity android:name=".ThankYouActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".OfficesCleanActivity"
            />
        <activity android:name=".WaitingAreaActivity"
            />
        <activity android:name=".GuardsActivity"
            />
        <activity android:name=".ComfortRoomsActivity"
            />
        <activity android:name=".WastingNoTimeActivity"
            />
        <activity android:name=".ProvidingSolutionsActivity"
            />
        <activity android:name=".SmilingActivity"
           />
        <activity android:name=".RespondingQueriesActivity"
            />
        <activity android:name=".MotivatedVoiceActivity"
           />
        <activity
            android:name=".RespectActivity"
             />
        <activity
            android:name=".ProperlyDressedActivity"
             />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SurveyActivity"
             />
        <activity
            android:name=".DivisionActivity"
             />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>